.movie-section {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0px;
  color: black;
  font-weight: 400;
  padding-left: 30px;
  padding-right: 30px;
}

.movie-rating {
  padding-left: 3px;
  margin-top: 20px;
  color: black;
  display: flex;
  padding-bottom: 10px;
  span {
    margin-right: 20px;
  }
}

.movie-title {
  font-size: 40px;
  color: black;
}
.movie-plot {
  margin-top: 20px;
  line-height: 1.8rem;
}

.movie-info > div span:first-child {
  padding: 10px 0px;
  color: black;
  font-weight: 600;
  width: 100px;
  display: inline-block;
}

.movie-info > div span {
  color: black;
}

.section-right {
  margin-left: 30px;
}

@media (min-width: 600px) {
  .image-poster {
    max-width: none;
  }
}

.plot {
  text-align: justify;
  text-justify: inter-word;
}
